@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.completed-text {
  font-style: italic;
  color: #cdcdcd;
  text-decoration: line-through;
  width: 82%;
  padding-left: 5px;
}

/* ======== Design Start ============== */

.todo-container {
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #298663; */
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: none;
  background-color: transparent;
}

.todo__add--task {
  margin-inline: auto;
  background-color: #f7f7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 549px;
}

.add__task-btn {
  color: #fff;
  background-color: #08cf9c;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.add__task-btn img {
  width: 1.8rem;
  aspect-ratio: 1 / 1;
}

.all_tasks {
  list-style: none;
}

.todo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  gap: 10px;
  background-color: #f7f7ff;
}

.todo__edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.todo__left--icons {
  display: flex;
  gap: 12px;
}

.complete-icon {
  color: #fff;
  background-color: #4286ef;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

p.todo__edit--input {
  font-size: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

input.edit__task {
  border: none;
  outline: none;
  background: transparent;
  width: 23rem;
}
